body {
    font-family: 'Dancing Script', cursive;
    background-color: black;
}

#header {
    background-color: #5B7989;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100px;
}

#header h1 {
    color: white;
    text-shadow: 2px 2px #02010A;
    float: left;
    padding-left: 20px;
}

#header #main-menu {
    float: right;
    padding-top: 30px;
    padding-right: 20px;
    color: white;
    text-shadow: 2px 2px #02010A;
    font-size: 16pt;
}

#header #main-menu a:visited,
a:link {
    color: white;
}

.shadow {
    box-shadow: 5px 5px #02010A;
}

.center-img-big {
    width: 90%;
    height: inherit;
    padding: 2.5% 5% 2.5% 5%;
}

.center-img-small {
    width: 100%;
    height: inherit;
}

.center-img-small-flex {
    width: 33%;
    height: 300px;
}

#shakeImg {
    transition: transform 2s;
}

#shakeImg:hover {
    transform: rotateZ(10deg);
    box-shadow: 2px 2px #82c3a6;
}

#transImg {
    transition: transform 2s;
}

#transImg:hover {
    transform: translate(20px, -20px);
    box-shadow: 2px 2px #82c3a6;
}

#siteFoot {
    background-color: #C6d5c5;
    height: 150px;
    margin-top: -20px;
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 900px) {
    #contenido {
        width: 100%;
    }
}

@media (min-width: 901px) {
    #contenido {
        width: 901px;
        margin: 0 auto;
    }
    #header #main-menu p {
        display: inline;
    }
    #header #main-menu a {
        padding-left: 50px;
    }
    .nor-menu {
        text-decoration: underline;
    }
    .sel-menu {
        text-decoration: none;
    }
    #main-img {
        background-color: #82c3a6;
        width: inherit;
    }
    #sec-img {
        background-color: #d5c75f;
        border: 1px solid #d5c75f;
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
    }
    .side-img {
        padding: 2.5% 2.5% 0% 2.5%;
    }
    .side-img p {
        text-align: center;
        line-height: 0px;
        font-weight: bold;
        font-size: 1.2em;
        text-decoration: underline;
    }
    .sec-imgs {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    #flexImg {
        display: flex;
        flex-flow: row nowrap;
    }
}